.l-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
background-color:#000;
border-color:#CCC;
border-style:solid;
border-width:1px;
position:relative;
width:850px;
height:300px;
overflow:hidden;
}
.l-rotator a{
outline:none;
}
.l-rotator .screen{
position:relative;
top:0;
left:250px;
width:600px;
height:300px;
overflow:hidden;
}
.l-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
}
.l-rotator .textbox{
position:absolute;
z-index:4;
overflow:hidden;
visibility:hidden;
}
.l-rotator .inner-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#000;
-moz-opacity:.0;
filter:alpha(opacity=0);
opacity:.0;
z-index:0;
}
.l-rotator .inner-text{
position:absolute;
top:0;
left:0;
padding:0px;
color:#FFF;
z-index:1;
}
.l-rotator #timer{
position:absolute;
left:0;
height:4px;
background-color:#FFF;
-moz-opacity:.50;
filter:alpha(opacity=50);
opacity:.5;
z-index:5;
visibility:hidden;
font-size:0;
}
.l-rotator .cpanel{
position:absolute;
margin:5px;
z-index:6;
visibility:hidden;
background:rgba(0,0,0,.7);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
.l-rotator #play-btn{
position:relative;
float:left;
width:22px;
height:22px;
background:url(assets/play_pause.png) 0 0 no-repeat;
cursor:pointer;
z-index:1;
}
.l-rotator #play-btn.pause{
background-position:0 -22px;
}
.l-rotator #num-info{
position:relative;
float:left;
height:22px;
line-height:22px;
padding:0 4px;
text-align:center;
color:#FFF;
z-index:1;
}
.l-rotator #preloader{
position:absolute;
top:50%;
left:50%;
width:36px;
height:36px;
margin-top:-18px;
margin-left:-18px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
background:#000 url(assets/loader.gif) no-repeat center;
background:rgba(0,0,0,.7) url(assets/loader.gif) center no-repeat;
z-index:7;
display:none;
}
.l-rotator .thumbnails{
position:absolute;
top:0;
left:0;
width:200px;
height:70px;
overflow:hidden;
z-index:10;
}
.l-rotator .thumbnails ul{
list-style:none;
position:absolute;
top:0;
left:0;
height:70px;
margin:0;
padding:0;
}
.l-rotator .thumbnails li{
position:relative;
display:block;
float:left;
clear:both;
}
.l-rotator .thumbnails li a{
display:none;
}
.l-rotator .thumbnails li div{
position:relative;
display:none;
color:#FFF;
background-color:#000;
}
.l-rotator #right-arrow,
.l-rotator #left-arrow{
position:relative;
display:block;
float:left;
width:12px;
}
.l-rotator #right-arrow{
background:url(assets/right_arrow.png) left center no-repeat;
}
.l-rotator #left-arrow{
background:url(assets/left_arrow.png) right center no-repeat;
}
.l-rotator .thumbnails .thumb{
position:relative;
display:block;
float:left;
cursor:pointer;
width:200px;
padding:0px;
color:#000;
background:#EEE;
background:-moz-linear-gradient(top, #FFF, #EEE);
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE')"; 
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE'); 
border-color:#CCC;
border-style:solid;
border-width:0 0 1px 0;
overflow:hidden;
}
.l-rotator .thumb img{
display:block;
float:left;
padding-right:0px;
}
.l-rotator .thumb p{
display:block;
overflow: hidden;
margin:0;
}
.l-rotator .thumbnails li.selected{
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.l-rotator .thumbnails li.square{
-moz-border-radius:0 !important;
-webkit-border-radius:0 !important;
border-radius:0 !important;
}
.l-rotator .thumbnails li.selected,
.l-rotator .thumbnails li.selected .thumb{
background:#EEE;
background:-moz-linear-gradient(top, #FFF, #EEE);
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE')";
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE');
}
.l-rotator .thumbnails li.selected .thumb{
color:#FFF;
border-left:none;
border-right:none;
border-bottom:1px solid #CCC;
cursor:default;
}
.l-rotator .thumbnails li.item-over .thumb{
background:#DDD;
}
.l-rotator #scrollbar{
position:relative;
width:4px;
height:100%;
overflow:hidden;
visibility:hidden;
}
.l-rotator #knob{
position:absolute;
top:0;
left:0;
width:4px;
background-color:#333;
-moz-opacity:.75;
filter:alpha(opacity=75);
opacity:.75;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
.l-rotator .btn-pane{
position:absolute;
top:0;
left:0;
width:100%;
height:24px;
background:url(assets/spacer.png) no-repeat;
z-index:2;
visibility:hidden;
}
.l-rotator #up-btn,
.l-rotator #down-btn{
position:absolute;
top:0;
left:50%;
width:60px;
height:24px;
margin-left:-30px;
background:#DDD url(assets/d_icons.png) no-repeat;
background:rgba(221,221,221,0.7) url(assets/d_icons.png) no-repeat;
}
.l-rotator #up-btn{
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
background-position:center 0;
}
.l-rotator #down-btn{
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
background-position:center -24px;
}
.l-rotator .block,
.l-rotator .vpiece,
.l-rotator .hpiece{
position:absolute;
z-index:2;
}
.l-rotator #strip{
display:block;
position:absolute;
top:0;
left:0;
z-index:0;
overflow:hidden;
}
.l-rotator .content-box{
display:none;
position:absolute;
top:0;
left:0;
overflow:hidden;
}